<p>Faça parte deste projeto! 
	Toda ajuda é bem-vinda, principalmente quanto à parte de design. 
	O que é oferecido em troca: uma referência na página de 
		<%= link_to 'contato', contato_path %>.</p>
<p>Qualquer contribuição pode ser enviada por 
		<%= link_to 'e-mail para luiz.jesus@fatec.sp.gov.br',
					'mailto:luiz.jesus@fatec.sp.gov.br' %>			
<hr />
<table>
	<tr>
		<td>
			Logotipo
		</td>
		<td>
			Uma imagem para ser usada como logotipo para este site?
			Realmente não consigo ter uma boa idéia para isto.
			Você pode construir uma.
		</td>
	</tr>
	<tr>
		<td>
			Estilização
		</td>
		<td>
			Um CSS melhor?
			Você pode salvar esta página no seu computador e
			editar o arquivo "custom.css", e me mandar sua
			sugestão de versão melhorada para ele.
		</td>
	</tr>
</table>
			
		
