<p>Em um futuro próximo, isto deverá ser preenchido pelo Rails
	a partir de uma tabela no banco de dados.
	Por enquanto, vai html estático mesmo.</p>
<h3>Atividades em Desenvolvimento (e a serem desenvolvidas)</h3>	
<hr />
<table>

	<tr>
		<td>publicar a versão 0.50
		</td>
		<td>20/12/2011</td>
	</tr>

	<tr>
		<td>revisar e publicar o tutorial para servidor com Ruby Enterprise Edition 1.8.7
		</td>
		<td>20/12/2011</td>
	</tr>

	<tr>
		<td>Estudar a API do Facebook, para poder usar o link "Curtir" 
		</td>
		<td>21 a 22/12/2011
		</td>
	</tr>

	<tr>
		<td>Férias! 
			<%= link_to 'Corbélia-Paraná', 
						'http://www.google.com.br/search?q=corb%C3%A9lia+paran%C3%A1&hl=pt-BR&biw=1024&bih=654&prmd=imvns&tbm=isch&tbo=u&source=univ&sa=X&ei=9A7wTuT-DsPv0gH3vcHMCQ&ved=0CFEQsAQ'
						%><br />
			Amigos, churrasco, cerveja, 
			<%= link_to 'Cataratas do Iguaçú', 
						'http://www.cataratasdoiguacu.com.br/portal/paginas/37-cataratas-do-iguacu.aspx'
						%>, 
			<%= link_to 'Ciudad Del Este', 
						'http://pt.wikipedia.org/wiki/Ciudad_del_Este'
						%>
		</td>
		<td>23/12/2011 a 02/01/2012
		</td>
	</tr>

	<tr>
		<td>Projetar e escrever o sistema de interatividade para alunos/turmas da Fatec,
			incluindo estudar a API do Facebook para login de usuários
		</td>
		<td>04 a 20/01/2012  
		</td>
	</tr>
		
</table>
