<p>Em um futuro próximo, isto deverá ser preenchido pelo Rails
	a partir de uma tabela no banco de dados.
	Por enquanto, vai html estático mesmo.</p>
<h3>Atividades em Desenvolvimento (e a serem desenvolvidas)</h3>	
<hr />
<table>

	<tr>
		<td>Projetar e escrever o sistema de interatividade para alunos/turmas da Fatec,
			incluindo estudar a API do Facebook para login de usuários
			
		</td>
		<td>06 a 08/04/2012 
		</td>
	</tr>
	
	<tr>
		<td>Com logins funcionando, publicar vídeos de treinamento Android<br>
			desenvolver sistema de fórum para o Grupo de Android
		</td>
		<td>08/04/2012 a 15/04/2012
		</td>
	</tr>	
		
</table>
