	<h1>ADSITAPE.COM</h1>
		<p>&nbsp;</p>
				<p>&nbsp;</p>
	<h2>Proposta</h2>
		<p>Explorar o framework Ruby on Rails;</p>
		<p>Desenvolver ferramentas de interatividade para os alunos da Fatec Itapetininga;</p>
		<p>Disponibilizar conteúdo voltado à área de Desenvolvimento de Sistemas.</p>
		<p>&nbsp;</p>
	<hr />
	<h2>Este Site está em construção! (permanentemente) </h2>
		<p>Este é um projeto para estudos.
			Conteúdos e ferramentas podem ser eliminados ou acrescentados,
				no decorrer do desenvolvimento.
				Eventualmente, alguns deles não funcionarão como esperado,
				(nesse caso, espero que você me avise,
				e me ajude na solução).
			Só pra começar, você pode sugerir um CSS novo... como já deve ter percebido,
				estilização não é o maior talento deste autor.</p>		
		<p>&nbsp;</p>
		<p>&nbsp;</p>

	<h3>Aviso de Responsabilidade</h3>
		<p>Este projeto é destinado aos alunos da Fatec de Itapetininga,
				mas sua publicação é de responsabilidade do autor 
				(e eventuais colaboradores, quando mencionados). 
				Nenhuma responsabilidade sobre o conteúdo será atribuída à Diretoria, 
				corpo docente 
				ou funcionários da referida Instituição.</p>
		
