html, body {
	/*height: 100%; */
}
body {
	background: #C3D9FF;
	font-size: 12px;
	padding: 5px;
	color:#000000;
	
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.logotipo {
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
	border-radius: 			10px;
	float: right;
	width: 120px;
	height: 90px;
}

.container { 
	width: 710px;
	background: #cff;
	padding-top: 30px;
	margin-top:	1px;
	min-height: 100%;
	position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;	
	}
	

.emconstrucao {
	background: #cff;
	padding: 10px;
}

.emconstrucao h1{
	text-align: center;
}

.conteudo {
	background: #cff;
	padding: 5px;
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
  border-radius:         15px;	
}
	
p {
	text-align:justify;
	padding: 2px;
	margin: 0px;
}

.pcenter {
	text-align:center;
}

h1 {
	background:#FBE3E4; 
	margin: 1px;
	padding-left: 0px;
}


h2 {background:#FBE3E4; 
	margin: 2px;
	padding-left: 2px;
	}
	
h3 {background:#FBE3E4; 
	margin: 2px;
	padding-left: 4px;
	}	

header{
	position: absolute;
	top: 3px;
	height: 40px;
	width: 100%;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #0099FF;
	text-decoration: underline;
}

a:visited{
	color: #0066CC;
}


