html, body {
	/*height: 100%; */
}
body {
	background: #ffd382 ;
	font-size: 12px;
	font-family:"segoe ui" "Calibri", "Verdana", "Georgia", "Serif";
	padding: 5px;
	color:#000000;
}

.container {
	background: #ffdc9b;
}

.conteudo {
	background: #fff2c6;
}

h1,h2,h3,h4{
	background:#ffdc9b;	
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.logotipo {
	float: right;
	width: 120px;
	height: 90px;
}

.container { 
	width: 800px;
	padding-top: 80px;
	margin-top:	1px;
	min-height: 100%;

	}
	

.emconstrucao {
	background: #cff;
	padding: 10px;
}

.emconstrucao h1{
	text-align: center;
}

.conteudo {
	padding: 5px;
  -moz-border-radius:    15px;
  -webkit-border-radius: 15px;
  border-radius:         15px;	
}
	
p {
	text-align:justify;
	padding: 2px;
	margin: 0px;
}

.pcenter {
	text-align:center;
}


h1 {
	margin: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 0px;
	font-size: 230%;
}


h2 {margin: 2px;
	padding-left: 2px;
	font-size: 195%;
	}
	
h3 {margin: 2px;
	padding-left: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 160%;
	}	

h4 {margin: 2px;
	padding-left: 4px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 125%;
	}	

header{
	position: absolute;
	top: 3px;
	height: 10px;
	width: 800px;
}

a {
	color: blue;
	text-decoration: none;
	background: #fff2c6;
	font-size: 13px;
}

a:hover {
	color: blue;
	text-decoration: underline;
	background-color: #ffdc9b;
	
}

a:visited{
	color: #0066CC;
}

hr {
	color: #0000FF;
	background-color: #0000FF;
}

header hr {
	margin-top: -7px;
	margin-bottom: -7px;
}


.foto {
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 20px;
}

ul {
	margin-left: 15px;
	margin-bottom: 20px;
}

ul li{
	margin-bottom: 5px;
}

.logo_infra{
	max-height: 75px;
	max-width: 150px;
}

.infra tr td{
	text-align: center;
}

.trademark{
	background-color: white;
	font-size: 10px;
	font-weight: normal;
}

.trademark li{
	margin: 1px;
}

.img_historico{
	max-height: 100px;
	max-width: 100px;
	padding: 5px;
	background-color: #CCCCCC;
}

.tab_tutorial *{
	border-width: 1px;
	border-style:solid;
	background-color: #CCCCCC;
	font-size: 90%;
}

.tab_tutorial {
	margin-bottom: 10px;
}

.tutorial {
	background-color: #ffdc9b;
	font-size: 12px;
}


