<!DOCTYPE html>
<html>
  <head>
    <title>ADS ITAPE . COM</title>
    <%= csrf_meta_tag %>
  </head>
  <body>
  	<header>
  		<h1>ESTE EM SITE ESTÁ EM CONSTRUÇÃO (versão 0.000001)</h1>
  			<h2>Proposta:</h2>
  				<p>Criar uma aplicação voltada ao estudo de Algoritmos e de Ruby on Rails; <br />
  					no processo, desenvolver ferramentas de interatividade para os alunos 
  					do curso de Análise e Desenvolvimento de Sistemas
  					da Fatec Itapetininga.<br />
  					Expansões desses objetivos serão acrescentadas conforme possível.
  				</p>
  	</header>
  	
  	<h1>Cronograma</h1>
  		<table>
  			<tr>
  				<td>Página de aviso de construção</td>
  				<td>05/12/2011</td>
  			</tr>
  			<tr>
  				<td>Tutorial para criação de ambiente para desenvolvimento Ruby on Rails<br />
  					(Ubuntu 11.10, Ruby 1.9.2, Rails 3.1, Aptana IDE, PostgreSql)</td>
  				<td>15/12/2011</td>
  			</tr>
  			<tr>
  				<td>Melhoramento Visual e Funcional (menus, estilização)</td>
  				<td>20/12/2011</td>
  			</tr>
  			<tr>
  				<td>Em Férias</td>
  				<td>02/01/2012</td>
  			</tr>
  			<tr>
  				<td>Adaptação em Português do Ruby on Rails Tutorial de Michael Hartl</td>
  				<td>03/02/2012</td>
  			</tr>
  			<tr>
  				<td colspan="2">Depois começam as aulas, aí qualquer previsão é impossível</td>
  			</tr>  			
  		</table>
  	<footer>
  		
  	</footer>
  </body>
</html>
