		<footer>
  			<nav class="round">
  				<hr>
          		<ul>
           	 		<li><%= link_to "Infra-Estrutura", 	infraestrutura_path %></li>
            		<li><%= link_to "Sobre", 			sobre_path %></li>
            		<li><%= link_to "Contato", 			contato_path %></li>            		
          		</ul>
          		<%= render "layouts/facebook/botaocurtir"%>
        	</nav>			
		</footer>
		
